/* side bar styling */
.side-navbar {
	width: 25%;
	height: initial;
	position: absolute;
	margin-left: -25%;
	transition: 1s;
	background-color: #484848 !important;
}

.active-nav {
	margin-left: 0;
}

.submitBookForm {
	max-width: 75%;
}

textarea {
	resize: none;
}

#submitBTN {
	font-size: 20px;
}

/* Book list styling */
#booklistContainer {
	max-width: 50%;
}

#bookCard {
	max-width: 100%;
}
