/* side bar styling */
.side-navbar {
	width: 20%;
	height: 100%;
	position: fixed;
	margin-left: -22%;
	transition: 1s;
	box-shadow: 10px 10px 5px grey;
	border-radius: 0px 20px;
}

.active-nav {
	margin-left: 0;
}

.submitBookForm {
	max-width: 75%;
}

textarea {
	resize: none;
}

/* Book list styling */
#booklistContainer {
	max-width: 50%;
}

.form-title {
	margin-bottom: 0px;
}
